@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-Gotham-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'iCielNeuePlak';
    src: url('./fonts/iCielNeuePlak-SemiboldWide.otf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'iCielNeuePlak';
    src: url('./fonts/iCielNeuePlak-LightWide.otf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-Gotham-Bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-Gotham-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-Gotham-Book.otf');
    font-style: normal;
    font-weight: 400;
}